In [1]:
import pandas as pd

In [2]:
data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})
person

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [3]:
person.sort_values(by='id',ascending=True, inplace=True)
df = person[person.duplicated("email")][['email']].drop_duplicates()
df

     email
2  a@b.com

In [4]:
df[['email']].rename(columns={'email':'Email'})

     Email
2  a@b.com