In [1]:
import pandas as pd

In [2]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})

In [3]:
logs

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    1
5   6    2
6   7    2

In [25]:
logs['diff1'] = logs['num'].diff()
logs['diff2'] = logs['num'].diff().diff()
df = logs[(logs['diff1']==0) & (logs['diff2']==0)]
final_result = df[['num']].drop_duplicates().rename(columns={'num':'ConsecutiveNums'})
final_result

   ConsecutiveNums
2                1

In [26]:
logs['var'] = logs['num'].rolling(window=3).var()
df = logs[logs['var']==0][['num']].drop_duplicates().rename(columns={'num':'ConsecutiveNums'})
df

   ConsecutiveNums
2                1

In [32]:
logs.sort_values(['id'], inplace = True)
logs = logs[(logs.num == logs.num.shift(1)) & 
                (logs.num == logs.num.shift(2)) & 
                (logs.id  == logs.id.shift(1)+1) & # <-- added in the revision
                (logs.id  == logs.id.shift(2)+2)   # <-- added in the revision
                ].drop_duplicates('num')
logs.iloc[:,[1]].rename(columns = {'num':'ConsecutiveNums'})

Empty DataFrame
Columns: [ConsecutiveNums]
Index: []